body  {
    background-color: black;
    background-image: url("/images/concert.jpeg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0em;
}



/*
Colors
FFD6A0
3BB8FF
000000
*/


/* All divs */
div {
    color: #333;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}


hr {
    border-style: dotted;
    border-color: black;
    border-width: 2px;
}

/*Header rule for concerts */
#big {
    border-style: solid;
    border-width: 5px;
    border-color: black;
}

/*Home page container                                   */

.container {/*
    padding: 0px 400px 0px 400px;*/
    width: 60%;
    margin:auto;

    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
        "logo logo"
        "header header"
        "main main"
        "footer footer";
    grid-gap: 20px;
    background-color: rgba(188, 204, 201, 0.4);
}

/*Container two */
#containertwo {
    grid-template-columns: 7fr 3fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: 
        "logo logo"
        "header header"
        "main sidebar"
        "maintwo sidebartwo"
        "footer footer";
}
/*
Container three
#containerthree {
    grid-template-columns: 7fr 3fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
        "logo logo"
        "header header"
        "main sidebar"
        "footer footer";
}*/

/*Logo stuff*/
.logo {
    grid-area: logo;
    text-align: center;
    font-size: 30px;
}

/*Header stuff*/
.header {
    grid-area: header;
    display: inline-block;
    padding: 0px;
    height: 70px;
    
    width: 420px;
    margin: auto;
    
}

.header ul {
    list-style-type:none;
    margin:0;
    padding:0;
    position: absolute;
}

.header li {
    display:inline-block;
    float: left;
    margin-right: 1px;
}

.header li a {
    display:block;
    min-width:140px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    line-height: 50px;
    color: #fff;
    background: #000000;
    text-decoration: none;
}

.header li a.active {
    background: #3BB8FF;
}

.header li:hover a {
    background: #FFD6A0;
}

.header li:hover ul a {
    background: #7F777D;
    color: #fff;
    height: 40px;
    line-height: 40px;
}

.header li:hover ul a:hover {
    background: #FFD6A0;
    color: #fff;
}

.header li ul {
    display: none;
}

.header li ul li {
    display: block;
    float: none;
}

.header li ul li a {
    width: auto;
    min-width: 140px;
    padding: 0px;

}

.header ul li a:hover + .hidden, .hidden:hover {
    display: block;
}

.header .show-menu {
    text-decoration: none;
    color: #fff;
    background: #7F777D;
    text-align: center;
    padding: 10px 0;
    display: none;
}

.header input[type=checkbox]{
    display: none;
}

.header input[type=checkbox]:checked ~ #menu{
    display: block;
}

/*Main*/
.main {
    grid-area: main;
    padding: 0px;
    font-size: 22px;
    padding:20px;
    padding-top: 0px;
}

.main h1 {
    text-align: center;
}

.main h2 {
    text-align: center;
}

.main p {
    line-height: 44px;
    text-indent: 50px;
    font-size: 25px;
}

#enterhere {
    text-align: center;
}

.main img {
    width: 100%;
    height: 100%;
}



/*Main two*/ 
#maintwo {
    grid-area: maintwo;
}


#concertsmain {
    text-align: center;
}

#concertsmain p {
    text-indent: 0px;
}

/*Form*/
form {
    margin-left: 20%;
    margin-right: 20%;
    padding: 10px;
}

input {
    width: 100%;
    padding: 7px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
} 

input[type=submit] {
    background-color: #000;
    width: 100%;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}



/*Sidebar*/
.sidebar {
    grid-area: sidebar;
    background-color: #BDD4DE;
    padding: 20px;
    padding-top: 0px;


}

.sidebar p {
    text-indent: 44px;
    font-size: 20px;
}

.sidebar h2 {
    text-align: center;
}

.sidebar ul {
    text-align: left;
    font-size: 20px;
}

/*Just Sidebar two*/
#sidebartwo {
    grid-area: sidebartwo;
    /*background-color: #BDD4DE;
    padding: 20px;
    padding-top: 0px;
    text-align: center;*/
}

#sidebartwo h2 {
    /*padding: 15px;*/
}


/*Footer*/
.footer {
    grid-area: footer;
    display: table;
    text-align: center;
    background-color: #FFD6A0;
    background-color: rgba(255, 214, 160, 0.9);
    padding: 20px; 
    font-size: 20px;
}
/*
.footer p {
    display: table-cell;
    vertical-align: middle;
    padding: 10px 0;

}*/




